<%= simple_form_for(@in_out_card, html: { class: 'form-vertical' }) do |f| %>
    <%= f.hidden_field :card_owner_id, value: @in_out_card.card_owner.id if @in_out_card.card_owner %>

    <%= f.simple_fields_for :card do |p| %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <%= p.input :full_name, label: 'Nome', autofocus: true, input_html: { value: f.object.card.full_name } %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <%= p.input :identification, label: "Identificação", input_html: { value: f.object.card.identification } %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-sm-8 col-md-4">
            <%= p.input :password, label: "Senha", as: :string %>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-2">
            <%= p.input :card_type, label: 'Bandeira', :as => :select, :collection => Card.card_types.keys.to_a %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= p.input :cpf, label: "CPF" %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= p.input :phone, label: "Telefone" %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <%= p.input :email %>
          </div>
        </div>
    <% end %>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-inputs">
          <%= f.input :value, label: 'Crédito Atual do Cartão', wrapper: :vertical_input_group do %>
              <span class="input-group-addon hidden-xs">R$</span>
              <%= f.text_field :value, class: "form-control", value: (f.object.value ? f.object.value.real : nil) %>
          <% end %>
        </div>
      </div>
    </div>

    <%= f.button :submit, "Gravar", class: 'btn btn-primary' %>
    <%= link_to "Cancelar", in_out_cards_url(card_owner: @card_owner), {:class=>"btn btn-danger"} %>
<% end %>