<script>
    var card_owner_id = "";
    <% if @card_owner %>card_owner_id = <%= @card_owner.id %>;<% end %>
</script>

<div>
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Crédito Atual do Cartão</h4>
        </div>
        <%= form_tag(new_in_out_card_url, {:method => "get", :class => "form-inline"}) do |f| %>
            <div class="modal-body">
              <div class="row">
                <%= hidden_field_tag :card_id %>
                <%= hidden_field_tag :card_owner %>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon">R$</span>
                    <%= text_field_tag :value, "", class: "form-control" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">Gravar</button>
              <%= link_to "Cancelar", products_url, {class: "btn btn-danger", data: {dismiss: "modal"}} %>
            </div>
        <% end %>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

<div class="page-header clearfix">
  <div class="pull-right">
    <div class="btn-group">
      <%= form_tag(in_out_cards_url, {:method => "get", :class => "form-inline"}) do %>
          <div class="row">
            <%= hidden_field_tag :card_owner, @card_owner.id if @card_owner %>
            <div class="col-xs-12 col-sm-2 col-md-2">
              <%= label_tag(:start_date, "Data Inicial") %>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
              <%= text_field_tag(:start_date, params[:start_date] || Time.now.strftime("%d/%m/%Y"), :class => "datetimepicker") %>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
              <%= label_tag(:end_date, "Data Final") %>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
              <%= text_field_tag(:end_date, params[:end_date] || Time.now.strftime("%d/%m/%Y"), :class => "datetimepicker") %>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
              <%= submit_tag("Buscar", class: "btn btn-primary") %>
            </div>
          </div>
      <% end %>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Imprimir
    </button>
  </div>
  <div class="pull-left">
    <h1>Lista dos Registros de Cartão - <%= @card_owner.name if @card_owner %><small> <% if @card_owner and @card_owner.out? %>Saída<% else %>Entrada<% end %></small></h1>
    <form action="<%= new_in_out_card_path %>" class="" role="search">
      <%= hidden_field_tag :card_owner, @card_owner.id if @card_owner %>
      <div class="input-group">
        <%= text_field_tag "card_query", nil, {class: "form-control", autofocus: true, placeholder: "Localizar o cartão por nome ou identificador", data: { autocomplete_source: find_cards_in_out_cards_path }} %>
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-md-3">Nome</th>
      <th>Identificação</th>
      <th>Responsável</th>
      <th>Valor</th>
      <th>Data</th>
      <th class="text-center">Remover</th>
    </tr>
    </thead>

    <tbody>
    <% @in_out_cards.each do |in_out_card| %>
        <tr>
          <td><%= link_to(in_out_card.card.full_name, in_out_card.card) if in_out_card.card %></td>
          <td><%= in_out_card.card.identification if in_out_card.card %></td>
          <td><%= in_out_card.card_owner.name if in_out_card.card_owner %></td>
          <td><%= number_to_currency(in_out_card.value) if in_out_card.value %></td>
          <td><%= l in_out_card.created_at, format: "%d/%m/%Y %H:%M" %></td>
          <td class="text-center"><%= link_to in_out_card, method: :delete, data: { confirm: 'Tem certeza?' }, card_owner: @card_owner do %><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><% end %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>
<%= paginate @in_out_cards %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registros de Cartão</h4>
      </div>
      <div class="modal-body"><pre id="toPrint"><%= render "in_out_cards/in_out_cards" %></pre></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" onclick=$("#toPrint").print();>Imprimir</button>
      </div>
    </div>
  </div>
</div>
