<h1><%= @in_out_card.card.full_name %></h1>
<hr>
<style>
    .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
        border: none;
    }
</style>
<div class="table-responsive">
  <table class='table borderless'>
    <tbody>
    <tr><td class="col-md-2"><b>Identificação:</b></td><td><%= @in_out_card.card.identification %></td></tr>
    <tr><td class="col-md-2"><b>Data:</b></td><td><%= @in_out_card.created_at %></td></tr>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Editar', edit_in_out_card_path(@in_out_card), class: "btn btn-primary" %>
<%= link_to 'Voltar', in_out_cards_path, class: "btn btn-default" %>