<%= simple_form_for(@purchase, html: { class: 'form-vertical' }) do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.association :vendor, label: "Fornecedor", label_method: :full_name, value_method: :id, collection: Vendor.all.order(:full_name), prompt: "Escolha o fornecedor" %>
      </div>
      <div class="col-md-2">
        <%= f.input :discount, label: "Desconto" %>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped" id="table_<%= f.object.id %>">
        <thead>
        <tr>
          <th class="col-md-6">Produto</th>
          <th class="col-md-1">Quantidade</th>
          <th class="col-md-2">Preço da Unitário</th>
          <th class="col-md-1"></th>
        </tr>
        </thead>

        <tbody id="items">
        <%= f.simple_fields_for :items do |item| %>
            <%= render 'item_fields', f: item %>
        <% end %>
        </tbody>
      </table>
      <p class="pull-right"><%= link_to_add_fields "+", f, :items %></p>
    </div>

    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to "Cancelar", purchases_url, {:class=>"btn btn-danger"} %>
<% end %>