<div class="page-header clearfix">
  <div class="pull-left">
    <h1>Lista das últimas compras<small></small></h1>
  </div>
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Nova Compra', new_purchase_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th class="col-md-3">Fornecedor</th>
      <th>Desconto</th>
      <th>Preço Total</th>
      <th>Preço Total com Desconto</th>
      <th>Desconto</th>
      <th>Data</th>
      <th class="col-md-1 text-center">Editar</th>
      <th class="col-md-1 text-center">Remover</th>
    </tr>
    </thead>

    <tbody>
    <% @purchases.each do |purchase| %>
        <tr>
          <td><%= link_to purchase.id, purchase %></td>
          <td><%= purchase.vendor.full_name if purchase.vendor %></td>
          <th><%= number_to_percentage(purchase.discount, precision: 2, strip_insignificant_zeros: true) %></th>
          <td><%= number_to_currency(purchase.total_price) %></td>
          <td><%= number_to_currency(purchase.total_price_with_discount) %></td>
          <td><%= number_to_currency(purchase.total_price - purchase.total_price_with_discount) %></td>
          <td><%= l purchase.created_at, format: "%d/%m/%Y" %></td>
          <td class="text-center"><%= link_to edit_purchase_path(purchase) do %><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><% end %></td>
          <td class="text-center"><%= link_to purchase, method: :delete, data: { confirm: 'Tem certeza?' } do %><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><% end %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br/>
<%= paginate @purchases %>
