
<h1><%= @purchase.vendor.full_name if @purchase.vendor %></h1>
Total: <%= number_to_currency(@purchase.total_price) %><br>
Desconto: <%= number_to_percentage(@purchase.discount, precision: 2, strip_insignificant_zeros: true) %><br>
Total com Desconto: <%= number_to_currency(@purchase.total_price_with_discount) %><br>
Data: <%= l @purchase.created_at, format: "%d/%m/%Y" %><br>
<hr>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-md-3">Items</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Preço Unitário</th>
      <th>Preço Unitário com Desconto</th>
    </tr>
    </thead>
    <tbody>
    <% @purchase.items.each_with_index do |item, index| %>
    <tr>
      <td class="col-md-2"><b><%= index+1 %></b></td>
      <td><%= item.product.full_name if item.product %></td>
      <td><%= number_with_precision(item.quantity, precision: 3, separator: ",", strip_insignificant_zeros: true) %></td>
      <td><%= number_to_currency(item.unit_price) %></td>
      <td><%= number_to_currency(item.unit_price_with_discount) %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Compra</h4>
      </div>
      <div class="modal-body"><pre id="toPrint"><%= render partial: "purchases/purchase_receipt", locals: {purchase: @purchase} %></pre></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" onclick=$("#toPrint").print();>Imprimir</button>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_purchase_path(@purchase), class: "btn btn-primary" %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Gerar Nota
</button>
<%= link_to 'Voltar', :back, class: "btn btn-default" %>