<!-- Fixed navbar -->
<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Distribuidora Torres Neves", root_url, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if can? :read, Client %><li><%= link_to "Clientes", clients_url %></li><% end %>
            <% if can? :read, Vendor %><li><%= link_to "Fornecedores", vendors_url %></li><% end %>
            <% if can? :read, Product %><li><%= link_to "Produtos", products_url %></li><% end %>
            <% if can? :read, Card %>
                <li role="separator" class="divider"></li>
                <!--<li class="dropdown-header">Outros</li>-->
                <li><%= link_to "Cartões", cards_url %></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-submenu data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entradas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if can? :read, Purchase %><li><%= link_to "Compras", purchases_url %></li><% end %>
            <% if can? :read, Order %><li><%= link_to "Pedidos", orders_url %></li><% end %>
            <% if can? :read, Payment %><li><%= link_to "Pagamentos", payments_url %></li><% end %>
            <% if can?(:read, CustomInput) or can?(:read, InOutCard) %>
                <li role="separator" class="divider"></li>
                <% if can? :read, CustomInput %><li><%= link_to "Personalizada", custom_inputs_url %></li><% end %>
                <% if can? :read, InOutCard %>
                    <li class="dropdown-submenu">
                      <a href="#" tabindex="0">Registro de Cartão - Entrada</a>
                      <ul class="dropdown-menu">
                        <% CardOwner.in.order(name: :asc).each do |card_owner| %>
                            <li><%= link_to card_owner.name, in_out_cards_url(card_owner: card_owner) %></li>
                        <% end %>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="#" tabindex="0">Registro de Cartão - Saída</a>
                      <ul class="dropdown-menu">
                        <% CardOwner.out.order(name: :asc).each do |card_owner| %>
                            <li><%= link_to card_owner.name, in_out_cards_url(card_owner: card_owner) %></li>
                        <% end %>
                      </ul>
                    </li>
                <% end %>
            <% end %>
          </ul>
        </li>
        <% if can? :manage, :all %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Por Cliente", reports_sales_url %></li>
            <li><%= link_to "Geral", reports_general_url %></li>
          </ul>
        </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<form class="navbar-form navbar-left">-->
          <!--<input type="text" class="form-control" placeholder="Buscar...">-->
        <!--</form>-->
        <!--<li><a href="#">Link</a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if user_signed_in? %>
                <%= nav_link 'Editar Conta', edit_user_registration_path %>
                <%= nav_link 'Sair', destroy_user_session_path, :delete %>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

