<%= simple_form_for(@client, html: { class: 'form-vertical' }) do |f| %>

    <div class="form-inputs">
    <%= f.input :full_name, label: 'Nome', autofocus: true %>
      <div class="form-inputs">
        <%= f.input :balance, label: "Saldo", wrapper: :vertical_input_group do %>
            <span class="input-group-addon">R$</span>
            <%= f.input_field :balance, class: "form-control" %>
        <% end %>
      </div>
    <%= f.input :email, label: 'Email' %>
    <%= f.input :phone, label: 'Telefone' %>
    <%= f.input :address, label: 'Endereço' %>
    <%= f.input :active, label: 'Ativo' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= link_to "Cancelar", clients_url, {:class=>"btn btn-danger"} %>
    </div>

<% end %>
