<h1>Lista de clientes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <!--<th>Endereço</th>-->
      <th>Ativo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.full_name %></td>
        <td><%= client.email %></td>
        <td><%= client.phone %></td>
        <!--<td><%= client.address %></td>-->
        <td><%= client.active %></td>
        <td><%= link_to 'Exibir', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Remover', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cliente', new_client_path, class: "btn btn-primary" %>
