<% time = Time.current %>
<h1><%= @client.full_name %></h1>
<b>Saldo Financeiro Atual:</b> <span style="<% if @client.balance < 0 then %>color:red<% end %>"><%= number_to_currency(@client.balance) %></span><br>
<b>Total de Pagamentos:</b> <span style="<% if @client.total_paid < 0 then %>color:red<% end %>"><%= number_to_currency(@client.total_paid) %></span><br>
<% if can? :manage, :all %>
    <b>Lucro Aprox. (considerando apenas compras):</b> <span style="<% if @client.estimate_profit(time) < 0 then %>color:red<% end %>"><%= number_to_currency(@client.estimate_profit(time)) %></span><br>
<% end %>
<b>Email:</b> <%= @client.email %><br>
<b>Telefone:</b> <%= @client.phone %><br>
<b>Endereço:</b> <%= @client.address %><br>
<b>Ativo:</b> <%= @client.active %><br>
<hr>

<div id="compras_pagamentos_cliente_tabela">
    <%= render partial: "clients/compras_pagamentos_cliente_tabela", locals: {time: time} %>
</div>

<%= link_to 'Editar', edit_client_path(@client), class: "btn btn-primary" %>
<%= link_to 'Voltar', :back, class: "btn btn-default" %>
<%= link_to "Remover", @client, method: :delete, class: "btn btn-danger", data: { confirm: 'Tem certeza que deseja remover?' } %>