<h1><%= @client.full_name %></h1>
<b>Saldo Financeiro Atual:</b> <span style="<% if @client.balance < 0 then %>color:red<% end %>"><%= number_to_currency(@client.balance) %></span><br>
<b>Total de Pagamentos:</b> <span style="<% if @client.total_paid < 0 then %>color:red<% end %>"><%= number_to_currency(@client.total_paid) %></span><br>
<% if can? :manage, :all %>
    <b>Lucro Aprox. (considerando apenas compras):</b> <span style="<% if @client.estimate_profit < 0 then %>color:red<% end %>"><%= number_to_currency(@client.estimate_profit) %></span><br>
<% end %>
<b>Email:</b> <%= @client.email %><br>
<b>Telefone:</b> <%= @client.phone %><br>
<b>Endereço:</b> <%= @client.address %><br>
<b>Ativo:</b> <%= @client.active %><br>
<hr>

<div class="panel panel-info collapse in" id="panel_estoque_atual">
  <div class="panel-heading">Compras</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <% if @client.orders.any? %>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Preço Total</th>
                  <% if can? :manage, :all %><th>Lucro Aprox.</th><% end %>
                  <th>Status</th>
                  <th>Data</th>
                </tr>
                </thead>

                <tbody>
                <% @client.orders.each do |order| %>
                    <tr>
                      <td><%= link_to order.id, order %></td>
                      <td><%= number_to_currency(order.total_price) %></td>
                      <% if can? :manage, :all %><td style="<% if order.estimate_profit_per_product and order.estimate_profit_per_product < 0 then %>color:red<% end %>"><%= (order.total_price_custo_real_aproximado == 0) ? "-" : number_to_currency(order.estimate_profit_per_product) %></td><% end %>
                      <td><%= if order.pending? then link_to("Pendente", new_payment_path(client_id: order.client.id, order_id: order.id), title: 'Abrir Pagamento') else "Pago" end %></td>
                      <td><%= l order.created_at, format: "%d/%m/%Y" %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
        <% else %>
            Nenhuma venda registrada.
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-info collapse in" id="panel_estoque_atual">
  <div class="panel-heading">Pagamentos</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <% if @client.payments.any? %>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th class="col-md-3">Id</th>
                  <th>Valor</th>
                  <th>Data</th>
                </tr>
                </thead>

                <tbody>
                <% @client.payments.each do |payment| %>
                    <tr>
                      <td><%= link_to payment.id, payment %></td>
                      <td><%= number_to_currency(payment.amount) %></td>
                      <td><%= l payment.created_at, format: "%d/%m/%Y" %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
        <% else %>
            Nenhum pagamento registrada.
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_client_path(@client), class: "btn btn-primary" %>
<%= link_to 'Voltar', clients_path, class: "btn btn-default" %>
