<div class="row">
  <%= simple_form_for(@order, html: { class: 'form-vertical' }) do |f| %>
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= f.input :client_name, :readonly => f.object.persisted?, label: "Cliente", autofocus: true, placeholder: 'Digite para buscar o cliente', input_html: { data: { autocomplete_source: find_clients_clients_path } } %>
          </div>
          <div id="client_info" class="col-xs-12 col-sm-6 col-md-8" style="display:none;">
            <script>
              <% if f.object.persisted? and @order.client %>
              var client_id = <%= @order.client.id %>;
              var client_balance = <%= @order.client.balance.to_f + @order.total_price.to_f %>;
              <% else %>
              var client_id = null;
              var client_balance = 0;
              <% end %>
            </script>
          </div>
        </div>

        <div class="row">
          <div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <table class="table table-striped" id="table_<%= f.object.id %>">
              <thead>
              <tr>
                <th class="col-xs-0 col-sm-0 col-md-0 col-lg-0"></th>
                <th class="hidden-xs col-sm-4 col-md-4 col-lg-4">Produto</th>
                <th class="visible-xs col-xs-4">Prod</th>
                <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Qtd</th>
                <th class="hidden-xs col-sm-4 col-md-4 col-lg-4">Preço Unitário</th>
                <th class="visible-xs col-xs-4">R$/Un</th>
                <th class="col-xs-0 col-sm-0 col-md-0 col-lg-0"></th>
                <th class="col-xs-0 col-sm-0 col-md-0 col-lg-0"></th>
              </tr>
              </thead>

              <tbody id="items">
              <%= f.simple_fields_for :order_items do |item| %>
                  <%= render 'order_item_fields', f: item %>
              <% end %>
              </tbody>
            </table>
            <p class="pull-right"><%= link_to_add_fields "+", f, :order_items %></p>
          </div>
          <div id="infos" class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div id="product_info" class="" style="display:none;"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <%= f.input :comments, label: "Observações", placeholder: 'Insira observações do pedido aqui' %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <table class="table table-condensed">
              <tbody>
              <tr>
                <td><strong>Saldo Financeiro</strong></td>
                <% if f.object.persisted? and @order.client %>
                    <td id="saldo_financeiro"><span style="<% if @order.client.balance and @order.client.balance < 0 then %>color:red<% end %>"><%= number_to_currency(@order.client.balance + @order.total_price) %></span></td>
                <% else %>
                    <td id="saldo_financeiro">R$ 0,00</td>
                <% end %>
              </tr>
              <tr>
                <td><strong>Total deste Pedido</strong></td>
                <td id="total_pedido">R$ 0,00</td>
              </tr>
              <tr>
                <td><strong>Total Final</strong></td>
                <td id="total_final">R$ 0,00</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= f.button :submit, "Gravar", class: 'btn btn-primary' %>
            <%= link_to "Cancelar", orders_url, {:class=>"btn btn-danger"} %>
          </div>
        </div>
      </div>
  <% end %>
  <div class="col-xs-12 col-sm-12 col-md-4">
          <div id="ultimas_vendas_info" class="">
            <%= render "orders/ultimas_vendas_info" %>
          </div>
    <!-- coloquei os modals fora do ajax.. nao estava funcionando depios de atualizar -->
    <% Product.order(last_order_at: :desc).each do |product| %>
        <div id="myModal<%= product.id %>" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edição de Estoque: <%= product.full_name %></h4>
              </div>
              <%= simple_form_for(product, html: {class: 'form-vertical'}, remote: true) do |f| %>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-3">
                        <%= f.input :unity, label: 'Unidade', :as => :select, :collection => Product.unities.keys.to_a %>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-3">
                        <%= f.input :in_stock, label: 'Estoque Atual' do %>
                            <%= f.text_field :in_stock_formatted, value: number_with_precision(f.object.in_stock, precision: 3, separator: ",", strip_insignificant_zeros: true), class: "form-control" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <%= f.button :submit, "Gravar", class: 'btn btn-primary' %>
                    <%= link_to "Cancelar", products_url, {class: "btn btn-danger", data: {dismiss: "modal"}}%>
                  </div>
              <% end %>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    <% end %>
      </div>
</div>
