<%= simple_form_for(@order, html: { class: 'form-vertical' }) do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= f.input :client_name, :readonly => f.object.persisted?, label: "Cliente", autofocus: true, placeholder: 'Digite para buscar o cliente', input_html: { data: { autocomplete_source: find_clients_clients_path } } %>
          </div>
          <div id="client_info" class="col-xs-12 col-sm-6 col-md-8" style="display:none;">
            <script>
              <% if f.object.persisted? and @order.client %>
              var client_id = <%= @order.client.id %>;
              var client_balance = <%= @order.client.balance.to_f + @order.total_price.to_f %>;
              <% else %>
              var client_id = null;
              var client_balance = 0;
              <% end %>
            </script>
          </div>
        </div>

        <div class="row">
          <div class="table-responsive col-xs-12 col-sm-8 col-md-8">
            <table class="table table-striped" id="table_<%= f.object.id %>">
              <thead>
              <tr>
                <th class="col-xs-0 col-sm-0 col-md-0"></th>
                <th class="col-xs-4 col-sm-4 col-md-4">Produto</th>
                <th class="col-xs-4 col-sm-3 col-md-3">Qtd</th>
                <th class="col-xs-3 col-sm-3 col-md-3">Preço Unitário</th>
                <th class="col-xs-1 col-sm-1 col-md-1"></th>
                <th class="col-xs-1 col-sm-1 col-md-1"></th>
              </tr>
              </thead>

              <tbody id="items">
              <%= f.simple_fields_for :order_items do |item| %>
                  <%= render 'order_item_fields', f: item %>
              <% end %>
              </tbody>
            </table>
            <p class="pull-right"><%= link_to_add_fields "+", f, :order_items %></p>
          </div>
          <div id="infos" class="col-xs-12 col-sm-4 col-md-4">
            <div id="product_info" class="" style="display:none;"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <%= f.input :comments, label: "Observações", placeholder: 'Insira observações do pedido aqui' %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <table class="table table-condensed">
              <tbody>
              <tr>
                <td><strong>Saldo Financeiro</strong></td>
                <% if f.object.persisted? and @order.client %>
                    <td id="saldo_financeiro"><span style="<% if @order.client.balance and @order.client.balance < 0 then %>color:red<% end %>"><%= number_to_currency(@order.client.balance + @order.total_price) %></span></td>
                <% else %>
                    <td id="saldo_financeiro">R$ 0,00</td>
                <% end %>
              </tr>
              <tr>
                <td><strong>Total deste Pedido</strong></td>
                <td id="total_pedido">R$ 0,00</td>
              </tr>
              <tr>
                <td><strong>Total Final</strong></td>
                <td id="total_final">R$ 0,00</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= f.button :submit, "Gravar", class: 'btn btn-primary' %>
            <%= link_to "Cancelar", orders_url, {:class=>"btn btn-danger"} %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
          <div id="ultimas_vendas_info" class="">
            <%= render "orders/ultimas_vendas_info" %>
          </div>
      </div>
    </div>
<% end %>