<tr class="fields">
  <td class="small"><div name="nro_item" class="small">1</div></td>
  <td><%= f.input :product_name, label: false, placeholder: 'Digite para buscar o produto', input_html: { data: { autocomplete_source: find_products_products_path } } %></td>
  <td>
    <div class="input-inputs">
      <%= f.input :quantity, label: false, input_html: {min: 1}, wrapper: :vertical_input_group do %>
          <%= f.text_field :quantity_formatted, value: number_with_precision(f.object.quantity, precision: 3, separator: ",", strip_insignificant_zeros: true), class: "form-control" %>
          <span class="input-group-addon"><%= f.object.product ? f.object.product.unity : Product.unities.keys.first %></span>
      <% end %>
    </div>
  </td>
  <td>
    <div class="form-inputs">
      <%= f.input :unit_price, label: false, wrapper: :vertical_input_group do %>
          <span class="input-group-addon hidden-xs">R$</span>
          <%= f.text_field :unit_price, class: "form-control", value: f.object.unit_price.real %>
      <% end %>
    </div>
  </td>
  <td class="small"><div name="total_item" class="small">0,00</div></td>
  <td class="small"> <%= f.hidden_field :_destroy %> <%= link_to_function "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, "remove_fields(this)" %></td>
</tr>