
<h1><%= @order.client.full_name if @order.client %></h1>
<b>Total:</b> <%= number_to_currency(@order.total_price) %><br>
<b>Data:</b> <%= l @order.created_at, format: "%d/%m/%Y" %><br>
<b>Observações:</b> <%= @order.comments %><br>
<hr>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-md-3">Items</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Preço Unitário</th>
      <th>Valor Total</th>
      <!--<th class="small">Preço Médio</th>-->
      <!--<th class="small">Lucro Aprox.</th>-->
    </tr>
    </thead>
    <tbody>
    <% @order.order_items.each_with_index do |item, index| %>
        <tr>
          <td class="col-md-2"><b><%= index+1 %></b></td>
          <td><%= item.product.full_name if item.product %></td>
          <td><%= number_with_precision(item.quantity, precision: 3, separator: ",", strip_insignificant_zeros: true) %></td>
          <td><%= number_to_currency(item.unit_price) %></td>
          <td><%= number_to_currency(item.total_price) %></td>
          <!--<td class="small"><%= number_to_currency(item.product.avg_price_in_stock_with_discount) %></td>-->
          <!--<td class="small" style="<% if item.estimate_profit and item.estimate_profit < 0 then %>color:red<% end %>"><%= (item.total_price_custo_real_aproximado == 0) ? "-" : number_to_currency(item.estimate_profit) %></td>-->
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pedido</h4>
      </div>
      <div class="modal-body"><pre id="toPrint"><%= render "orders/invoice" %></pre></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" onclick=$("#toPrint").print();>Imprimir</button>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_order_path(@order), class: "btn btn-primary" %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Gerar Nota
</button>
<%= link_to 'Voltar', orders_path, class: "btn btn-default" %>


<script>
    $('#myModal').modal('show')
</script>