<h1>Lista de Fornecedores</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-3">Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Endereço</th>
      <!--<th class="col-md-1"></th>-->
      <th class="col-md-1"></th>
      <th class="col-md-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= link_to vendor.full_name, vendor %></td>
        <td><%= vendor.phone %></td>
        <td><%= vendor.email %></td>
        <td><%= vendor.address %></td>
        <!--<td><%= link_to 'Exibir', vendor %></td>-->
        <td><%= link_to edit_vendor_path(vendor) do %><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><% end %></td>
        <td><%= link_to vendor, method: :delete, data: { confirm: 'Tem certeza?' } do %><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Novo Fornecedor', new_vendor_path, class: "btn btn-primary" %>
