<h1>Lista de Fornecedores</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.full_name %></td>
        <td><%= vendor.email %></td>
        <td><%= vendor.phone %></td>
        <td><%= vendor.address %></td>
        <td><%= link_to 'Exibir', vendor %></td>
        <td><%= link_to 'Editar', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Remover', vendor, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Fornecedor', new_vendor_path, class: "btn btn-primary" %>
