<%= simple_form_for(@payment, html: { class: 'form-vertical' }) do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <strong>Cliente:</strong> <%= @client.full_name %>
        <!-- f.input :client_name, :readonly => f.object.persisted?, label: "Cliente", autofocus: true, placeholder: 'Digite para buscar o cliente', input_html: { data: { autocomplete_source: find_clients_clients_path } } -->
        <%= f.input :client_id, :as => :hidden, :input_html => { :value => @client.id } %>
      </div>
    </div>
    <br>
    <div class="row">
      <div id="pending_orders" class="col-xs-12 col-sm-6 col-md-6 table-responsive">
        <strong>Pedidos Pendentes</strong>
          <table class="table table-striped table-condensed">
            <tbody>
            <% @client.orders.order(created_at: :desc).pending.each_with_index do |order, i| %>
                <tr>
                  <td>
                    <%= f.input :pagar, :label => false do %>
                        <%= check_box_tag("pagar[]", order.id, (order.id.to_s == params[:order_id])) %> Pagar
                    <% end %>
                  </td>
                  <td><%= number_to_currency(order.total_price) %></td>
                  <td><%= l order.created_at, format: "%d/%m/%Y" %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      </div>
    </div>

    <div class="row">
      <div class="form-inputs col-xs-12 col-sm-6 col-md-4">
        <%= f.input :amount, label: "Valor Pago", wrapper: :vertical_input_group do %>
            <span class="input-group-addon">R$</span>
            <%= f.text_field :amount, class: "form-control", value: f.object.amount.real %>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Gravar", class: 'btn btn-primary' %>
      <%= link_to "Cancelar", payments_url, {:class=>"btn btn-danger"} %>
    </div>
<% end %>
