<h1><%= @payment.client.full_name if @payment.client %></h1>
Valor Pago: <%= number_to_currency(@payment.amount) %><br>
Data: <%= l @payment.created_at, format: "%d/%m/%Y" %><br>

<br>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Recibo</h4>
      </div>
      <div class="modal-body"><pre id="toPrint"><%= render "payments/receipt" %></pre></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" onclick=$("#toPrint").print({timeout:3000});>Imprimir</button>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_payment_path(@payment), class: "btn btn-primary" %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Gerar Recibo
</button>
<%= link_to 'Voltar', :back, class: "btn btn-default" %>


<script>
    $('#myModal').modal('show')
</script>