
<h1><%= @card.full_name %></h1>
CPF: <%= @card.cpf %><br>
Telefone: <%= @card.phone %><br>
Email: <%= @card.email %><br>
Identificação: <%= @card.identification %><br>
Senha: <%= @card.password %><br>
Tipo: <%= @card.card_type %><br>
<br>
<%= link_to 'Editar', edit_card_path(@card), class: "btn btn-primary" %>
<%= link_to 'Voltar', :back, class: "btn btn-default" %>
<%= link_to "Remover", @card, method: :delete, class: "btn btn-danger", data: { confirm: 'Tem certeza que deseja remover?' } %>
<hr>

<% if @card.in_out_cards.any? %>
REGISTROS DO CARTÃO
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-md-3">Nome</th>
      <th>Identificação</th>
      <th>Responsável</th>
      <th>Valor</th>
      <th>Data</th>
    </tr>
    </thead>

    <tbody>
    <% @card.in_out_cards.order(created_at: :desc).each do |in_out_card| %>
        <tr>
          <td><%= link_to(in_out_card.card.full_name, in_out_card.card) if in_out_card.card %></td>
          <td><%= in_out_card.card.identification if in_out_card.card %></td>
          <td><%= in_out_card.card_owner.name if in_out_card.card_owner %></td>
          <td><%= number_to_currency(in_out_card.value) if in_out_card.value %></td>
          <td><%= l in_out_card.created_at, format: "%d/%m/%Y %H:%M" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% else %>
    NENHUM REGISTRO DO CARTÃO
<% end %>