<div class="panel panel-default collapse in" id="panel_product_info">
  <button type="button" class="close" data-toggle="collapse" data-target="#panel_product_info" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="panel-heading">
    <div class="panel-title"><strong><%= @product.full_name %></strong></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div>
          <b>Estoque Atual:</b> <%= display_stock(@product.in_stock, @product.unity) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <% if @order_items.any? %>
            <b>Últimos preços praticados para <%= @client.full_name %>:</b>
            <ul>
              <% @order_items.last(5).reverse.each do |ordered_item| %>
                  <li>
                    <div class=""><%= number_to_currency(ordered_item.unit_price) %> - <%= l ordered_item.created_at, format: "%d/%m/%Y" %></div>
                  </li>
              <% end %>
            </ul>
        <% else %>
            Nenhuma venda registrada.
        <% end %>
      </div>
    </div>
  </div>
</div>