<div class="page-header clearfix">
  <div class="pull-left">
    <h1>Lista de Produtos<small></small></h1>
  </div>
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Novo Produto', new_product_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-3">Nome</th>
      <th>Unidade</th>
      <th>Em estoque</th>
      <!--<th class="col-md-1"></th>-->
      <th class="col-md-1 text-center">Editar</th>
      <th class="col-md-1 text-center">Remover</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.full_name, product %></td>
        <td><%= product.unity %></td>
        <td><%= product.in_stock %></td>
        <!--<td><%= link_to 'Exibir', product %></td>-->
        <td class="text-center"><%= link_to edit_product_path(product) do %><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><% end %></td>
        <td class="text-center"><%= link_to product, method: :delete, data: { confirm: 'Tem certeza?' } do %><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<%= paginate @products %>
