<div class="page-header clearfix">
  <div class="pull-right">
    <div class="btn-group">
      <%= link_to 'Novo Produto', new_product_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="pull-left">
    <h1>Lista de Produtos<small></small></h1>
    <!--<form class="" role="search">-->
      <!--<div class="input-group">-->
        <!--<input type="text" class="form-control" placeholder="Localizar o produto por código ou descrição" name="srch-term" id="srch-term">-->
        <!--<div class="input-group-btn">-->
          <!--<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  </div>
</div>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-3">Nome</th>
      <th>Em estoque</th>
      <th>Unidade</th>
      <!--<th class="col-md-1"></th>-->
      <th class="col-md-1 text-center">Editar</th>
      <th class="col-md-1 text-center">Remover</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.full_name, product %></td>
        <td style="<% if product.in_stock and product.in_stock < 0 then %>color:red<% end %>"><%= number_with_precision(product.in_stock, precision: 3, separator: ",", strip_insignificant_zeros: true) %></td>
        <td><%= product.unity %></td>
        <!--<td><%= link_to 'Exibir', product %></td>-->
        <td class="text-center"><%= link_to edit_product_path(product) do %><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><% end %></td>
        <td class="text-center"><%= link_to product, method: :delete, data: { confirm: 'Tem certeza?' } do %><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<%= paginate @products %>
