<h1>Lista de Produtos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Unidade</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.full_name %></td>
        <td><%= product.unity %></td>
        <td><%= link_to 'Exibir', product %></td>
        <td><%= link_to 'Editar', edit_product_path(product) %></td>
        <td><%= link_to 'Remover', product, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Produto', new_product_path, class: "btn btn-primary" %>
