<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @product.full_name %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @product.unity %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
