<h1><%= @product.full_name %></h1>
<hr>
<style>
    .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
        border: none;
    }
</style>
<div class="table-responsive">
  <table class='table borderless'>
    <tbody>
    <tr><td class="col-md-2"><b>Unidade:</b></td><td><%= @product.unity %></td></tr>
    <tr><td class="col-md-2"><b>Em estoque:</b></td><td><%= number_with_precision(@product.in_stock, precision: 3, separator: ",", strip_insignificant_zeros: true) %></td></tr>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Editar', edit_product_path(@product), class: "btn btn-primary" %>
<%= link_to 'Voltar', :back, class: "btn btn-default" %>