<div class="page-header clearfix">
  <div class="pull-right">
    <div class="btn-group">
    </div>
  </div>
  <div class="pull-left">
    <h1>Relatório por Cliente<small></small></h1>
    <%= form_tag(reports_sales_url, {:method => "get", :class => "form-inline"}) do %>
        <div class="row">
          <div class="col-xs-12 col-sm-2 col-md-2">
            <%= label_tag(:start_date, "Data Inicial") %>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <%= text_field_tag(:start_date, params[:start_date] || Time.now.strftime("%d/%m/%Y"), :class => "datetimepicker") %>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
            <%= label_tag(:end_date, "Data Final") %>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <%= text_field_tag(:end_date, params[:end_date] || Time.now.strftime("%d/%m/%Y"), :class => "datetimepicker") %>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
            <%= submit_tag("Enviar", class: "btn btn-primary") %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nome do Cliente</th>
      <th>Pedidos</th>
      <th>Lucro Aprox.</th>
      <th>Recebido/Faturado</th>
    </tr>
    </thead>
    <tbody>
    <%
       total_sales = total_payments = total_lucro = 0
    %>
    <% if @start_date and @end_date %>
        <% Client.includes({orders: [{order_items: [:product]}]}).all.sort_by {|c| c.orders.inject(0) { |sum, o| sum + o.total_price }}.reverse.each do |client| %>
        <%
           client_total_sales = client_total_payments =  client_total_lucro = 0
           client_orders = client.orders.where(:created_at => @start_date..@end_date)
           client_payments = client.payments.where(:created_at => @start_date..@end_date)
           client_orders.each do |order|
             client_total_sales += order.total_price || 0
             client_total_lucro += order.estimate_profit_per_product
           end
           client_total_payments = client_payments.inject(0) {|sum, pp| sum + pp.amount}

           total_sales += client_total_sales
           total_payments += client_total_payments
           total_lucro += client_total_lucro
        %>
        <tr>
          <td><%= client.full_name %></td>
          <td><%= number_to_currency(client_total_sales) %></td>
          <td style="<% if client_total_lucro < 0 then %>color:red<% end %>"><%= number_to_currency(client_total_lucro) %></td>
          <td><%= number_to_currency(client_total_payments) %></td>
        </tr>
        <% end %>
    <% end %>
    <tr>
      <td><b>TOTAL</b></td>
      <td><b><%= number_to_currency(total_sales) %></b></td>
      <td style="<% if total_lucro < 0 then %>color:red<% end %>"><b><%= number_to_currency(total_lucro) %></b></td>
      <td><b><%= number_to_currency(total_payments) %></b></td>
    </tr>
    </tbody>
  </table>
</div>
<br>
